- content_for :extra_js do
  = javascript_include_tag "website/collections/index"
  = javascript_include_tag "jquery.pans.js"
  
#collections
  = will_paginate @collections
  - @collections.each do |collection|
    .collection
      %h2.name= link_to "The #{collection.name} Collection", collection_path(collection.pretty_id)
      .description
        :markdown
          #{collection.description}
      .items.wrapper-pane
        .image_wrapper.contents-pane
          - collection.items.published.each do |item|
            - unless item == @item
              .variation
                - asset = item.variations.first.assets.by_position.first
                - if asset.image_file_name
                  = link_to image_tag(asset.image.url(:medium)), item_path(item)
  = will_paginate @collections
