.row
  = will_paginate @collections
  - @collections.each do |collection|
    .row.collection.column
      %h2.name= link_to "The #{collection.name} Collection", collection_path(collection.pretty_id)
      .description
        :markdown
          #{collection.description}
      .items
        - collection.items.published.each do |item|
          - unless item == @item
            .column.two
              - begin
                = link_to image_tag(item.assets.by_position.first.image(:manage)), item_path(item.pretty_id)
              - rescue
  = will_paginate @collections
