<tbody class='line-item' id='line_item_<%= lineItem._id %>' data-id='<%= lineItem._id %>'>
  <tr>
    <td>
      <div class='input-control text'>
        <input type='text' name='line_item[quantity]' class='line-item-quantity' value='<%= lineItem.quantity %>' />
      </div>
    </td>
    <td>
      <div class='input-control text'>
        <input type='text' name='line_item[summary]' class='line-item-summary' value='<%= lineItem.summary %>' />
      </div>
    </td>
    <td>
      <div class='input-control checkbox'>
        <% if(lineItem.taxable == true) { %>
          <input type='checkbox' name='line_item[taxable]' class='line-item-taxable' value='<%= lineItem.taxable %>' checked='checked' />
        <% } else { %>
          <input type='checkbox' name='line_item[taxable]' class='line-item-taxable' value='<%= lineItem.taxable %>' />
        <% } %>
      </div>
    </td>
    <td>
      <div class='input-control text'>
        <input type='text' name='line_item[price]' class='line-item-price' value='<%= lineItem.price %>' />
      </div>
    </td>
    <td class='line-item-actions'>
      <button class='button bg-color-red fg-color-white line-item-delete'>delete</button>
      <button class='button bg-color-green fg-color-white line-item-discount'>discount</button>
      <button class='button bg-color-green fg-color-white line-item-note'>note</button>
    </td>
  </tr>
</tbody>
