.row
  .column.three#registration-form
    = render partial: 'users/registration_form'
  
  .column.three#login-form
    = form_tag [:session] do
      %legend Login
      = text_field "user", "login", value: nil, placeholder: 'login'
      = password_field "user", "password", value: nil, placeholder: 'password'
      .actions
        = link_to "Forgot your password?", [:forgot_password, :users]
        = submit_tag 'Login'
