.row
  .column.three#registration-form
    = form_tag registered_users_path, method: :post do
      %legend Register
      = text_field "user", "name", value: nil, placeholder: 'Name'
      = text_field "user", "login", value: nil, placeholder: 'Login'
      = text_field "user", "email", value: nil, placeholder: 'Email'
      = password_field "user", "password", value: nil, placeholder: 'Password'
      .actions
        = submit_tag "register"
  
  .column.three#login-form
    = form_tag [:session] do
      %legend Login
      = text_field "user", "login", value: nil, placeholder: 'login'
      = password_field "user", "password", value: nil, placeholder: 'password'
      .actions
        = link_to "Forgot your password?", [:forgot_password, :users]
        = submit_tag 'Login'
