- content_for :extra_js do
  = javascript_include_tag "array.monkeypatch.js"
  = javascript_include_tag "images"
  = javascript_include_tag "items"
  = javascript_include_tag "collections"

%fieldset
  #item_form.form
    = item.hidden_field :id
    .field.required
      = item.label :name
      = item.text_field :name
    .field.required
      = item.label :description
      = item.text_area :description
    .field.required
      = item.label :price
      = item.text_field :price
    .field.required
      = item.label :quantity
      = item.text_field :quantity
    .field.required
      = item.label :size_range
      = item.text_field :size_range
    .field.required
      = item.label :category
      = item.select :category, Item.categories
    .field.required
      = item.label :metal_csv, 'Metals'
      = item.text_field :metal_csv, class: 'metal_field'
    .field.required
      = item.label :finish_csv, 'Finishes'
      = item.text_field :finish_csv, class: 'finish_field'
    .field.required
      = item.label :jewel_csv, 'Gems'
      = item.text_field :jewel_csv, class: 'jewel_field'
    .field.required
      = item.label :gender
      = item.select :gender, Item.genders
    .field
      = item.label :designer
      = item.select :designer_id, User.designers.map {|designer| [ designer.name, designer.id ]}
    .field
      = item.hidden_field :collections_csv
      .collections
        = item.label :collections
        - Collection.all.each_with_index do |collection, index|
          .collection{:class => "collection_#{collection.id} position_#{index}", :collection_id => collection.id}
            = collection.name
    .field
      = item.label :custom_id, "The number after 'ID' on old items"
      = item.text_field :custom_id
    .field
      = item.label :published
      = item.check_box :published
    .field
      = item.label :available
      = item.check_box :available
    .field
      = item.label :one_of_a_kind
      = item.check_box :one_of_a_kind
    .field.required
      = item.label :backorder_notes
      = item.text_field :backorder_notes
    .field#customizable
      = item.label :customizable
      = item.check_box :customizable
    .field#customizable_notes
      = item.label :customizable_notes, "Customizable Notes"
      = item.text_area :customizable_notes
    .field#discontinued
      = item.label :discontinued
      = item.check_box :discontinued
    .field#discontinued_notes
      = item.label :discontinued_notes
      = item.text_area :discontinued_notes
  %hr
  - unless @item.new_record?
    = item.fields_for :assets, Asset.new do |current_asset|
      .field.image_uploader{:'data-item-id' => @item.id}
        = current_asset.label :image, "Upload a New Image"
        = current_asset.file_field :image, :class => "original_file_field"
    .field.images{id: "images_for_item_#{@item.id}", :'data-item-id' => @item.id}
      - @item.assets.by_position.each do |uploaded_asset|
        = render partial: 'asset', object: uploaded_asset
    
  .form_actions
    = submit_tag "save", :class => "submit"
    
