- content_for :page_title do
  - if @title
    %h1= @title
  - else
    %h1 Listing Items
  
-content_for :page_actions do
  .button= link_to 'create a new item', new_admin_item_path
  
- content_for :page_content do
  - if @items
    = will_paginate(@items, :params => {:search => {:query => @query}})
    = render partial: "admin/items/summary", collection: @items
    = will_paginate(@items, :params => {:search => {:query => @query}})
  - else
    %p No items were found.
