= content_for :page_title do
  %h1
    = @item.name ? @item.name : 'this item needs a name'
    %span#tag_id.tag_id
      ID#{@item.pretty_id}

= content_for :page_actions do
  - if !@item.ghost
    .button.dangerous= link_to 'remove', remove_admin_item_path(@item.pretty_id)
  - else
    .button.dangerous= link_to 'restore', restore_admin_item_path(@item.pretty_id)
  .button.dangerous= link_to 'clone', clone_admin_item_path(@item.pretty_id)
  .button= link_to 'edit', edit_admin_item_path(@item.pretty_id)

- content_for :extra_js do
  = javascript_include_tag 'website/items/show'
  = javascript_include_tag 'jquery.pans.js'
    
- content_for :page_content do
  #item_view
    - unless @item.available
      .sold
        %h1 Sold
    .images#main_view
      #major_image.major_image= image_tag @item.assets.by_position.compact.present? ? @item.assets.by_position.compact.first.image.url(:large) : "/images/ui/no_image.jpg"
      .minor_images.wrapper-pane
        .image_wrapper.contents-pane
          - @item.assets.by_position.compact.each do |asset|
            = image_tag asset.image.url(:large, false), :class => 'minor_image'
      .meta
        %h2.name= @item.name
        - if @item.designer
          %h3.designed_by Designed By #{@item.designer.name}
    .details
      .meta
        %h2 Item Details
        .price.row
          %span.label Price
          #{number_to_currency(@item.price)}
          - if @item.available
            .sizes.row
              %span.label Select Your Size
              = select 'item','sizes', @item.sizes.collect {|size| [size,size]}, selected: @item.sizes[@item.sizes.length / 2]
            - if @order
              .row
                %span= link_to 'Add to Cart', new_admin_user_order_line_item_path(user_id: @user.pretty_id, order_id: @order.pretty_id, item_id: @item.pretty_id), class: 'add_to_cart input'
            - else
              %b{style: 'color: red'} You must start an order with a customer before you can add an item to a cart.
          - if @item.metals.present?
            .metals.row
              %span.label Metals
              = raw @item.metals.uniq.inject('') {|metals, metal| metals += "<span class='metal tag'>#{metal.downcase}</span>"}
          - if @item.jewels.present?
            .jewels.row
              %span.label Jewels
              = raw @item.jewels.uniq.inject('') {|jewels, jewel| jewels += "<span class='jewel tag'>#{jewel.downcase}</span>"}
          - if @item.finishes.present?
            .finishes.row
              %span.label Finish
              = raw @item.finishes.uniq.inject('') {|finishes, finish| finishes += "<span class='finish tag'>#{finish.downcase}</span>"}
          .availability.row
            - if @item.one_of_a_kind
              :textile
                This is a One of a Kind item.
  
                Although there may be pieces made somewhat like this in the future, there will never be the exact one, ever again. If you love this unique piece of wearable art, snatch it up while you can!
            - else
              - if @item.quantity > 0
                :textile
                  This item is currently in stock.
  
  
                  Because of specialty sizing this item will ship within 3 business days.
              - else
                :markdown
                  #{@item.backorder_notes}
          .customizable.row
            - if @item.customizable
              .label Other Options
              :markdown
                #{@item.customizable_notes}
      .content
        .content.wrapper-pane
          .contents-pane
            .description
              :markdown
                #{@item.description}
        / .collections.row
        /   - if @item.collections.length > 1
        /     %h2 This item is part of the Following #{@item.collections.length > 1 ? "Collections" : "Collection"}
        /   - elsif @item.collections.length == 1
        /     %h2 This item is part of the #{@item.collections.first.name.capitalize} Collection
        /   - @item.collections.each do |collection|
        /     .collection
        /       %h3.name The #{collection.name.capitalize} Collection
        /       .description
        /         :markdown
        /           #{collection.description}
        /       %p Other items available in the #{collection.name.capitalize} collection
        /       .items.wrapper-pane
        /         .image_wrapper.contents-pane
        /           - collection.items.the_living.published.each do |item|
        /             - unless item == @item
        /               .variation
        /                 = link_to image_tag(item.variations.first.assets.by_position.first.image.url(:medium)), item_path(item)
