- current_variation = @variation ? @variation : @item.variations.first
= content_for :page_title do
  %h1
    = @item.name ? @item.name : 'this item needs a name'
    %span#tag_id.tag_id ID#{@item.custom_id}-#{current_variation ? current_variation.custom_id : 'n/a'}

= content_for :page_actions do
  - if !@item.ghost
    .button.dangerous= link_to 'remove', [:remove, :admin, @item]
  - else
    .button.dangerous= link_to 'restore', [:restore, :admin, @item]
  = raw button_for_url('edit', edit_admin_item_path(@item), class: "button")

- content_for :extra_js do
  = javascript_include_tag 'website/items/show'
  = javascript_include_tag 'jquery.pans.js'
    
- content_for :page_content do
  #item_view
    - unless current_variation.item.available
      .sold
        %h1 Sold
    .images#main_view
      #major_image.major_image= image_tag current_variation.assets.first.image.url(:large)
      .minor_images.wrapper-pane
        .image_wrapper.contents-pane
          - current_variation.assets.each do |asset|
            = image_tag asset.image.url(:large, false), :class => 'minor_image'
      .meta
        %h2.name= @item.name
        - if @item.designer
          %h3.designed_by Designed By #{@item.designer.name}
        .colors
          %h3.color_tags Color Tags
          - current_variation.colors.each do |color|
            = link_to color, color_path(color), :class => "color active position_#{color.position}", :color_id => color.id
    - if @item.variations.length > 1
      .variations.wrapper-pane
        .image_wrapper.contents-pane
          - @item.variations.each do |variation|
            - if variation.assets.length > 0
              .variation{:id => "variation_#{variation.id}"}
                = link_to image_tag(variation.assets.first.image.url(:medium)), admin_item_path(id: @item, variation_id: variation.id)
    .details
      .meta
        %h2 Item Details
        .price.row
          %span.label Price
          #{number_to_currency(current_variation.price)}
          - if @item.available
            .sizes.row
              %span.label Select Your Size
              = select 'item','sizes', @item.sizes.collect {|size| [size,size]}, selected: @item.sizes[@item.sizes.length / 2]
            - if @order
              .row
                %span= link_to 'Add to Cart', new_admin_user_order_line_item_path(user_id: @user, order_id: @order, variation_id: current_variation), class: 'add_to_cart input'
        / .metals.row
        /   %span.label Metals
        /   - current_variation.metals.collect {|metal| "<span class='metal tag'>#{metal.downcase}</span>"}.each do |metal|
        /     = metal
        / - if current_variation.jewels.length > 0
        /   .jewels.row
        /     %span.label Jewels
        /     = current_variation.jewels.collect {|jewel| "<span class='jewel tag'>#{jewel.downcase}</span>"}
        / .finishes.row
        /   %span.label Finish
        /   = current_variation.finishes.collect {|finish| "<span class='finish tag'>#{finish.downcase}</span>"}
        .availability.row
          - if current_variation.item.one_of_a_kind
            :textile
              This is a One of a Kind item.
  
              Although there may be pieces made somewhat like this in the future, there will never be the exact one, ever again. If you love this unique piece of wearable art, snatch it up while you can!
          - else
            - if current_variation.quantity > 0
              :textile
                This item is currently in stock.
  
  
                Because of specialty sizing this item will ship within 3 business days.
            - else
              :markdown
                #{current_variation.backorder_notes}
        .customizable.row
          - if @item.customizable
            .label Other Options
            :markdown
              #{@item.customizable_notes}
      .content
        .content.wrapper-pane
          .contents-pane
            .description
              :markdown
                #{@item.description}
            .variation_description
              :markdown
                #{current_variation.description}
        / .collections.row
        /   - if @item.collections.length > 1
        /     %h2 This item is part of the Following #{@item.collections.length > 1 ? "Collections" : "Collection"}
        /   - elsif @item.collections.length == 1
        /     %h2 This item is part of the #{@item.collections.first.name.capitalize} Collection
        /   - @item.collections.each do |collection|
        /     .collection
        /       %h3.name The #{collection.name.capitalize} Collection
        /       .description
        /         :markdown
        /           #{collection.description}
        /       %p Other items available in the #{collection.name.capitalize} collection
        /       .items.wrapper-pane
        /         .image_wrapper.contents-pane
        /           - collection.items.the_living.published.each do |item|
        /             - unless item == @item
        /               .variation
        /                 = link_to image_tag(item.variations.first.assets.by_position.first.image.url(:medium)), item_path(item)
