%h1
  Order Completed

%p
  Congratulations!

%p
  Your order number (#{@order.id}) has processed. We thank you for your business, and trust that you will be delighted when your jewelry arrives. Should you encounter any issues, please
  = link_to 'contact us', "mailto:info@wexfordjewelers.com?subject=Question on Order #{@finished_order.id}"
  for assistance.

%p
  Your order will ship as soon as humanly possible.

%p
  Your order is as follows:

- @order.line_items.the_living.each do |line_item|
  :ruby
    variation = line_item.variation
    item = variation.item
    
  %p
    Item:
    = link_to item.name, "http://wexfordjewelers.com/items/#{item}&?variation_id=#{variation.id}"
    (#{item.id}-#{variation.id})
    %br
    Size: #{line_item.size}
    %br
    Price: #{number_to_currency line_item.price}
    %br
    Quantity: #{line_item.quantity}
    %br
    Total: #{number_to_currency line_item.total}
    "--"
%p
  Subtotal: #{number_to_currency @order.subtotal}
  %br
  Shipping: #{number_to_currency @order.shipping_cost}
  %br
  Shipping Option: #{@order.shipping_option}
  %br
  Total: #{number_to_currency @order.total}


%p
  Order Notes: #{@order.notes}

