.column.two
  %ul#sidebar
    %li= link_to 'Account', [:account]

.column.four
  - if @current_order
    = form_for @current_order do
      %legend You Current Shopping Cart

      %table#current-cart
        %thead
          %tr
            %th &nbsp;
            %th Description
            %th Price
            %th Quantity
            %th &nbsp;
        %tbody.items
          - @current_order.line_items.each do |line_item|
            - item = line_item.item
            %tr.item
              %td
                = link_to image_tag(item.assets.by_position.first.image.url(:thumbnail)), item_path(item.pretty_id)
              %td= truncate item.description, length: 25
              %td= number_to_currency line_item.price
              %td= line_item.quantity
              %td
                = link_to 'Remove'

  #payment-history
    %h2 Payment History
    - if @current_user.payments
      %table
        %thead
          %tr
            %th Order
            %th Paid On
            %th Paid With
            %th Amount
        %tbody.payments
          - @current_user.payments.each do |payment|
            %tr.payment
              %td= payment.order.pretty_id
              %td= payment.created_at
              %td= payment.payment_type
              %td= payment.amount
    - else
      .notice-message
        You haven't made any payments yet.
