%h1 Current Items in Stock

%table.stylized
  %thead
    %tr
      %th Id
      %th Picture
      %th Quantity Level
      %th Retail Per Item
      %th Retail Total
  %tbody
    - @stock_items.each do |variation|
      %tr
        %td= link_to "#{variation.item_id}-#{variation.id}", admin_item_path(:id => variation.item, :variation_id => variation)
        %td
          - if variation.assets.length > 0
            = link_to image_tag(variation.assets.by_position.first.image.url(:thumbnail)), admin_item_path(:id => variation.item, :variation_id => variation)
          - else
            &nbsp;
        %td= variation.quantity
        %td= number_to_currency variation.price
        %td= number_to_currency variation.price * variation.quantity
  %tfooter
    %tr
      %th{:colspan => 4} Total Items in Stock
      %th= @stock_items.inject(0) {|total, variation| total += variation.quantity}
    %tr
      %th{:colspan => 4} Total Retail Value
      %th= number_to_currency @stock_items.inject(0.0) {|total, variation| total += (variation.quantity * variation.price)}