- form_for @order, :url => admin_order_path(@order), :html => {:method => :put} do |order_form|
  #order_details
    .field.required
      = order_form.label :due_at, "Due In from Take In Date"
      = order_form.select :due_at, options_for_select(@order.due_dates, [@order.due_at, @order.due_at])
    .field.required
      = order_form.label :item_notes, "Item Description"
      = order_form.text_area :item_notes
    .field
      = order_form.label :repair_notes, "Additional Notes"
      = order_form.text_area :repair_notes
    .field
      = order_form.submit "save repair", :class => "button submit"