= content_for :page_title do
  %h1 Editing Frequently Asked Questions
  
= content_for :page_content do
  - form_for [:admin, @faq], :method => :put do |f|
    %fieldset
      #faq_form.form
        .field.required
          = link_to "Markdown Reference", "http://daringfireball.net/projects/markdown/syntax", :target => "_blank"
          = f.label :header
          = f.text_area :header
        .field.required
          = link_to "Markdown Reference", "http://daringfireball.net/projects/markdown/syntax", :target => "_blank"
          = f.label :body
          = f.text_area :body
        .form_actions
          = submit_tag "save", :class => "submit"