%h2 Available Inventory
%table
  %thead
    %tr
      %th Images
      %th ID
      %th Discontinued
      %th Deleted
      %th Quantity
      %th Price
  %tbody
    - @items.each do |item|
      %tr
        %td
          - if item.assets
            - item.assets.by_position[0..1].each do |asset|
              = link_to image_tag(asset.image.url(:thumbnail)), edit_admin_item_path(item.pretty_id)
        %td
          %b= link_to "ID#{item.pretty_id}", edit_admin_item_path(item.pretty_id)
        %td
          = item.discontinued ? 'DISCONTINUED' : ''
        %td
          = item.ghost ? 'DELETED' : ''
        %td
          #{item.quantity}
        %td
          $#{item.price}
%h2 Retail Summary
%table
  %thead
    %tr
      %th{style: 'text-align: left; padding-right: 2em;'} Quantity Total
      %th{style: 'text-align: left; padding-right: 2em;'} Retail Price Total
  %tbody
    %tr
      %td= @quantity_total
      %td= number_to_currency @retail_total
