%h1 Available Inventory
%table
  %tbody
    - @variations.each do |variation|
      %tr
        %td
          - if variation.assets
            - variation.assets.by_position[0..3].each do |asset|
              = image_tag asset.image.url(:thumbnail)
        %td
          %b ID#{variation.parent_item.pretty_id}-#{variation.pretty_id} /
          %b OID#{variation.parent_item.custom_id}-#{variation.custom_id}
        %td
          Quantity:
          %b #{variation.quantity}
        %td
          Price:
          %b $#{variation.price}
