#payments
  %h2 Payments
  %table.stylized#payments_table
    %thead
      %tr
        %td{:colspan => 4} &nbsp;
        %td= raw button_for_url "add a payment", admin_order_payments_path(@order), :method => :post, :class => "primary action button", :id => "add_a_payment"
      %tr
        %th &nbsp;
        %th Paid On
        %th Payment Type
        %th Check #
        %th Payment Amount
    %tbody
      - @order.payments.each do |payment|
        %tr.payment
          %td
            %ul.actions
              %li= link_to "refund", admin_order_payment_path(:id => payment, :order_id => @order), :method => :delete, :confirm => "Are you sure you want to refund this payment of #{payment.amount}?"
          %td #{time_ago_in_words(payment.created_at)} ago (#{payment.created_at.strftime("%b %d, %Y")})
          %td= payment.payment_type
          %td= payment.check_number
          %td= number_to_currency(payment.amount)
    %tfooter
      %tr
        %td{:colspan => 3} &nbsp;
        %th Paid
        %th#paid= number_to_currency(@order.paid)
      %tr
        %td{:colspan => 3} &nbsp;
        %th Balance Owing
        %th#balance= number_to_currency(@order.balance)

#add_payment_module.module
  #payments_form.window
    %h1 Add a New Payment
    - form_for :payment, Payment.new, :url => admin_order_payments_path(@order), :method => :post do |payment_form|
      = payment_form.hidden_field :order_id, :value => @order.id
      .field.required
        = payment_form.label :payment_type, "Payment Type"
        = payment_form.select :payment_type, options_for_select(Payment.payment_type_options, 5)
      .field
        = payment_form.label :check_number, "Check Number"
        = payment_form.text_field :check_number
      .field.required
        = payment_form.label :amount
        = payment_form.text_field :amount
      .field
        #cancel_payment.acts_as_button cancel payment
        = payment_form.submit "add new payment", :class => "submit button"
