- content_for :page_title do
  %h1 #{@order.location.capitalize} #{@order.staging_type.capitalize} ##{@order.id}
  
- content_for :page_actions do
  = raw button_for_url "cancel order", cancel_admin_order_path(@order), :class => "button"

= render :partial => "admin/orders/menu", :locals => {:active_url => address_admin_order_path(@order)}
- form_for @order, :url => admin_order_line_items_path(@order), :html => {:method => :put} do |order_form|
  - if @order.user
    - address = @order.user.addresses.length > 0 ? @order.user.addresses.last : nil
  #customer
    .field.required
      = label_tag "customer[name]", "Full Name"
      = text_field_tag "customer[name]", @order.user ? @order.user.name : nil
    .field.required
      = label_tag "address[address_1]", "Address 1"
      = text_field_tag "address[address_1]", address ? address.address_1 : nil
    .field
      = label_tag "address[address_2]", "Address 2"
      = text_field_tag "address[address_2]", address ? address.address_2 : nil
    .field.required
      = label_tag "address[city]", "City"
      = text_field_tag "address[city]", address ? address.city : nil
    .field.required
      = label_tag "address[province]", "State or Province"
      = text_field_tag "address[province]", address ? address.province : nil
    .field.required
      = label_tag "address[postal_code]", "Zip or Postal Code"
      = text_field_tag "address[postal_code]", address ? address.postal_code : nil
    .field
      = label_tag "address[country]", "Country"
      = text_field_tag "address[country]", address ? address.country : "US"
    .field.required
      = label_tag "customer[phone]", "Phone"
      = text_field_tag "customer[phone]", @order.user ? @order.user.phone : @lookup_phone
    .field.required
      = label_tag "customer[email]", "Email"
      = text_field_tag "customer[email]", @order.user ? @order.user.email : nil
    .field
      = order_form.submit " next ", :class => "button submit"