- content_for :page_title do
  %h1 Listing Orders

- content_for :page_content do
  - paginated_section @orders do
    %table.index.stylized
      %thead
        %tr
          %th Order
          %th Item(s)
          %th Name
          %th City
          %th State
          %th Ctry
          %th Balance
          %th Location
          %th Kind
          %th Status
      %tbody
        - @orders.each do |order|
          %tr{:class => cycle("normal", "alternate")}
            %td= link_to(order.id, admin_order_path(order))
            %td
              - order.line_items.the_living.each do |line_item|
                - if line_item.variation
                  = link_to("ID#{line_item.variation.item_id}-#{line_item.variation_id}", admin_item_path("ID#{line_item.variation.item_id}-#{line_item.variation_id}"))
                - else
                  QID#{line_item.id}
                %br
            %td= order.user ? link_to(order.user.name, admin_customer_path(order.user.id)) : "n/a"
            %td= order.city
            %td= order.province
            %td= order.country
            %td= number_to_currency(order.balance)
            %td{:class => order.location == "website" ? "website" : "instore"}= order.location.capitalize
            %td= order.staging_type
            %td= order.ticket.current_stage