- content_for :page_title do
  %h1 Listing Orders

- content_for :page_content do
  - paginated_section @orders do
    %table.index.stylized
      %thead
        %tr
          %th Order
          %th Item(s)
          %th Name
          %th City
          %th State
          %th Ctry
          %th Balance
          %th Location
          %th Kind
          %th Status
      %tbody
        - @orders.each do |order|
          %tr{:class => cycle("normal", "alternate")}
            %td= link_to(order.pretty_id, admin_user_order_path(order.user.pretty_id, order.pretty_id))
            %td
              - order.line_items.each do |line_item|
                - if line_item.variation.present?
                  = link_to("ID#{line_item.variation.parent_item.pretty_id}-#{line_item.variation.pretty_id}", admin_item_path("ID#{line_item.variation.parent_item.pretty_id}-#{line_item.variation.pretty_id}"))
                - else
                  QID#{line_item.pretty_id}
                %br
            %td= order.user ? link_to(order.user.name, admin_user_path(order.user.pretty_id)) : "n/a"
            %td= order.address ? order.address.city : 'n/a'
            %td= order.address ? order.address.province : 'n/a'
            %td= order.address ? order.address.country : 'n/a'
            %td= number_to_currency(order.balance)
            %td{:class => order.location == "website" ? "website" : "instore"}= order.location.capitalize
            %td= order.staging_type
            %td= order.ticket.current_stage
