- content_for :page_title do
  %h1 #{@order.location.capitalize} #{@order.staging_type.capitalize} ##{@order.id}

- content_for :page_actions do
  = button_for_url "cancel order", cancel_admin_order_path(@order), :class => "button"

= render :partial => "admin/orders/menu"
%table.stylized#customers
  %tbody
    - @customers.each do |customer|
      %tr
        %td{:"v-align" => "top"} #{customer.name} (##{customer.id})
        %td{:"v-align" => "top"}
          - if customer.last_shipping_address
            #{customer.last_shipping_address.address_1} <br />
            - if customer.last_shipping_address.address_2
              #{customer.last_shipping_address.address_2} <br />
            #{customer.last_shipping_address.city}, #{customer.last_shipping_address.province} #{customer.last_shipping_address.postal_code} #{customer.last_shipping_address.country}
          #{customer.phone} <br />
          #{customer.email}
        %td{:"v-align" => "top"}= link_to "Use this customer", address_admin_order_path(:id => @order, :customer_id => customer.id), :method => :post