- content_for :page_title do
  %h1 #{@order.location.capitalize} #{@order.staging_type.capitalize} ##{@order.id}

- content_for :page_actions do
  - if @order.refunded
    %h2 REFUNDED
  - else
    = button_for_url "refund order", refund_admin_order_path(@order), :class => "button", :id => "refund-order-button", :confirm => "Are you sure you want to REFUND this order?"
    = button_for_url "cancel order", cancel_admin_order_path(@order), :class => "button", :id => "cancel-order-button", :confirm => "Are you sure you want to CANCEL this order?"

- content_for :extra_js do
  = render :partial => "admin/orders/extra_javascript"

= render :partial => "admin/orders/menu", :locals => {:active_url => admin_order_path(@order)}

- form_for @order, :url => admin_order_path(@order), :html => {:method => :put} do |order_form|
  .field
    = order_form.label :clerk_id, "Handled by: "
    = order_form.select :clerk_id, options_from_collection_for_select(@workers, "id", "name", @order.clerk_id ? @order.clerk_id : @current_user.id)
  .field
    = order_form.submit "change clerk", :class => "button submit"
  
%hr

= render :partial => "admin/orders/items"

%hr

= render :partial => "admin/orders/payments"

%hr

= render :partial => "admin/orders/notes"