.menus
  .menu
    .title= link_to "Dashboard", admin_root_path
    .links
      - if @order.present?
        .link= link_to "view current order", admin_order_path(@order)
      .link
        = form_tag find_admin_orders_path, :method => :get do
          = text_field_tag "order"
          = submit_tag "lookup order", :class => "submit"
  .menu
    .title= link_to "Orders", admin_orders_path
    .links
      .link= link_to "list all orders", admin_orders_path
      - %w(purchase custom repair).each do |order_type|
        .link= link_to "list #{order_type} orders", admin_orders_path(:find => order_type)
  .menu
    .title= link_to "Items", admin_items_path
    .links
      .link= link_to "list all items", admin_items_path
      .link= link_to "create a new item", new_admin_item_path
      .link= link_to "current items", current_admin_items_path
      .link= link_to "old items", old_admin_items_path
      .link= link_to "on website items", published_admin_items_path
      .link= link_to "not on website items", instore_admin_items_path
      .link= link_to "one of a kind items", ooak_admin_items_path
  .menu
    .title= link_to "Collections", admin_collections_path
    .links
      .link= link_to "list all collections", admin_collections_path
      .link= link_to "create a new collection", new_admin_collection_path
  .menu
    .title= link_to "Faq", admin_faqs_path
