- content_for :extra_js do
  = javascript_include_tag "array.monkeypatch.js"
  = javascript_include_tag "images"
  = javascript_include_tag "variations"
  = javascript_include_tag "colors"

= form_for @variation, url: admin_item_variation_path(@item.pretty_id, @variation.pretty_id), method: :put do |form|
  .variation{:'data-item-id' => @item.pretty_id, :'data-variation-id' => @variation.pretty_id}
    .form
      %strong Item Description
      #description= @item.description
      /= form.hidden_field :id, :class => "variation_id"
      %hr
      .field
        = form.label :description, "Variation Description"
        = form.text_area :description
      .field.required
        = form.label :quantity
        = form.text_field :quantity, :class => "quantity"
      .field.required
        = form.label :backorder_notes, "Backorder Notes"
        = form.text_field :backorder_notes, :value => "Please allow 3 - 6 weeks for this order to be created."
      .field.required
        = form.label :price
        = form.text_field :price, :class => "price"

      .field.required
        = form.label :metal_csv, 'Metals'
        = form.text_field :metal_csv, class: 'metal_field'
      .field.required
        = form.label :finish_csv, 'Finishes'
        = form.text_field :finish_csv, class: 'finish_field'
      .field.required
        = form.label :jewel_csv, 'Gems'
        = form.text_field :jewel_csv, class: 'jewel_field'
                
      / Colors
      /.field.required
      /  = form.label :colors
      /  .colors
      /    = form.hidden_field :colors_csv
      /    - Item.colors.each do |color|
      /      .color{:class => "position_#{color.position}", :color_id => color.position}
      
      %hr
      %div
        %strong Variation Images
      %hr
      = form.fields_for :assets, Asset.new do |current_asset|
        .field.image_uploader
          = current_asset.label :image, "Upload a New Image"
          = current_asset.file_field :image, :class => "original_file_field"
      .field.images{:id => "images_for_variation_#{@variation.id}"}
        - if @variation.assets.length > 0
          - @variation.assets.by_position.each do |uploaded_asset|
            .image{:id => "image_#{uploaded_asset.id}"}
              .actions
                = link_to "view", uploaded_asset.image.url(:original), :target => "_blank"
                .delete{:href => admin_item_variation_attachment_path(@item.pretty_id, @variation.pretty_id, uploaded_asset.id), :parent_image_id => "image_#{uploaded_asset.id}"}
                  delete
              = image_tag uploaded_asset.image.url(:manage)
              .id{:style => "visibility: hidden", :id => uploaded_asset.id}
      
      %hr        
      .form_actions
        = submit_tag "save", :class => "submit"
