%h1 Edit your profile
.row
  = form_for @user, class: 'column six' do |user_form|
    .column.two
      %h3 Personal Information
      %hr
      .row
        = user_form.text_field      :name, placeholder: 'Name'
      
      %h3 Login Information
      %hr
      .row
        = user_form.text_field      :login, placeholder: 'Login'
      .row
        = user_form.password_field  :old_password, value: "", placeholder: 'Current Password'
        = user_form.password_field  :new_password, placeholder: 'New Password'
    
    .column.two
      %h3 Email Addresses
      - @user.emails.each_with_index do |email, index|
        %hr
        .row
          = text_field "user[emails][#{index}]", 'address', value: email, placeholder: 'Email'
      %hr
      .row
        = text_field_tag "user[emails][#{@user.emails.length + 1}][address]", nil, placeholder: 'New email address'
      
      %h3 Phone Numbers
      - @user.phones.each_with_index do |phone, index|
        %hr
        .row
          = text_field "user[phones][#{index}]", 'number', value: phone, placeholder: 'Phone'
      %hr
      .row
        = text_field_tag "user[phones][#{@user.phones.length + 1}][number]", nil, placeholder: 'New phone number'
        
    .column.two
      %h3 Addresses
      - user_form.fields_for :addresses do |address_form|
        %hr
        .row
          = address_form.text_field :address_1, value: address_form.object.address_1, placeholder: 'Address line 1'
          = address_form.text_field :address_2, value: address_form.object.address_2, placeholder: 'Address line 2'
          = address_form.text_field :city, value: address_form.object.city, placeholder: 'City'
          = address_form.text_field :province, value: address_form.object.province, placeholder: 'State or Province'
          = address_form.text_field :postal_code, value: address_form.object.postal_code, placeholder: 'Postal or Zip Code'
          = address_form.text_field :country, value: address_form.object.country, placeholder: 'Country'
      %hr
      .row
        %h3 New Address
        = text_field_tag "user[addresses][#{@user.addresses.length + 1}][address_1]", nil, placeholder: 'Address line 1'
        = text_field_tag "user[addresses][#{@user.addresses.length + 1}][address_2]", nil, placeholder: 'Address line 2'
        = text_field_tag "user[addresses][#{@user.addresses.length + 1}][city]", nil, placeholder: 'City'
        = text_field_tag "user[addresses][#{@user.addresses.length + 1}][province]", nil, placeholder: 'State or Province'
        = text_field_tag "user[addresses][#{@user.addresses.length + 1}][postal_code]", nil, placeholder: 'Postal or Zip Code'
        = text_field_tag "user[addresses][#{@user.addresses.length + 1}][country]", nil, placeholder: 'Country'
         
    .actions
      = link_to "Forgot your password?", forgot_password_users_path
      = submit_tag "save changes"
