.form_wrapper
  .edit
    %h1 Edit your profile
    - form_for :user, @user, :url => user_path(@user.id), :html => {:method => :put} do |user_form|
      .left-column
        %h3 Personal Information
        %hr
        .row
          = user_form.label           :name
          = user_form.text_field      :name
        
        %h3 Login Information
        %hr
        .row
          = user_form.label           :login
          = user_form.text_field      :login
        .row
          = user_form.label           :old_password, "Current Password"
          = user_form.password_field  :old_password, :value => ""
          = user_form.label           :new_password
          = user_form.password_field  :new_password
      
      .center-column
        %h3 Email Addresses
        
        - user_form.fields_for :emails do |email_form|
          %hr
          .row
            = email_form.label        :address, "Email address"
            = email_form.text_field   :address
        %hr
        .row
          = label_tag      "user[emails_attributes][#{@user.emails.length + 1}][address]", 'New email address'
          = text_field_tag "user[emails_attributes][#{@user.emails.length + 1}][address]"
        
        %h3 Phone Numbers
        - user_form.fields_for :phones do |phone_form|
          %hr
          .row
            = phone_form.label        :number, "Phone number"
            = phone_form.text_field   :number
        %hr
        .row
          = label_tag      "user[phones_attributes][#{@user.emails.length + 1}][number]", 'New phone number'
          = text_field_tag "user[phones_attributes][#{@user.emails.length + 1}][number]"
          
      .right-column.column
        %h3 Addresses
        - user_form.fields_for :addresses do |address_form|
          %hr
          .row
            = address_form.label :address_1, "Address line 1"
            = address_form.text_field :address_1
            = address_form.label :address_2, "Address line 2"
            = address_form.text_field :address_2
            = address_form.label :city
            = address_form.text_field :city
            = address_form.label :province, "State or Province"
            = address_form.text_field :province
            = address_form.label :postal_code
            = address_form.text_field :postal_code
            
      .row
        #{submit_tag "save changes"} | #{link_to "Forgot your password?", forgot_password_users_path}