.row
  .column.three
    = form_tag registered_users_path, method: :post do
      %legend Register
      = text_field "user", "name", value: nil, placeholder: 'Name'
      = text_field "user", "login", value: nil, placeholder: 'Login'
      = text_field "user", "email", value: nil, placeholder: 'Email'
      = password_field "user", "password", value: nil, placeholder: 'Password'
      .actions
        = submit_tag "register"
  
    %p Why #{link_to "register for an account", register_users_path}? Because we are just that cool! Also, you will never be able to own any of our fine jewelry unless you register online or #{link_to "visit our store", about_us_path + "#contact_us"} in #{link_to "Cadillac, Michigan", about_us_path + "#contact_us"}.
  
    %p Let’s face it, you’ll save gas money this way.
    
  .column.three
    = form_tag generate_new_password_users_path, method: :post do
      %legend Forgot Password?
      = text_field "user", "email", value: nil, placeholder: 'Current Email Address'
      .actions
        = submit_tag "generate a new password"
