.form_wrapper
  .registration_form
    %h1 Register
    
    - form_tag registered_users_path, :method => :post do
      .row
        = label "user", "name"
        = text_field "user", "name"
      .row
        = label "user", "login"
        = text_field "user", "login"
      .row
        = label "user", "email"
        = text_field "user", "email"
      .row
        = label "user", "password"
        = password_field "user", "password", :value => nil
      .row
        = submit_tag "register"
  
    %p Why #{link_to "register for an account", register_users_path}? Because we are just that cool! Also, you will never be able to own any of our fine jewelry unless you register online or #{link_to "visit our store", about_us_path + "#contact_us"} in #{link_to "Cadillac, Michigan", about_us_path + "#contact_us"}.
  
    %p Let’s face it, you’ll save gas money this way.
  
  .login_form
    %h1 Login
    
    - form_tag authenticate_users_path, :method => :post do
      .row
        = label "user", "login"
        = text_field "user", "login"
      .row
        = label "user", "password"
        = password_field "user", "password"
      .row
        #{submit_tag "login"} | #{link_to "Forgot your password?", forgot_password_users_path}