.profile
  %legend Profile
  %table
    %thead
      %tr
        %th Frist Name
        %th Last Name
        %th Email
        %th &nbsp;
      %tbody
        %tr 
          %th= @current_user.first_name
          %th= @current_user.last_name
          %th= @current_user.email
          %th
            = link_to 'Edit', [:edit, @current_user]
.address
  %legend Addresses
  = link_to 'New', [:new, @current_user, :address]

  %table
    %thead
      %tr
        %th Address Line 1
        %th &nbsp;
      %tbody
        -@current_user.addresses.each do |address|
          %tr.address{id: dom_id(address)}
            %td= address.to_single_line
            %td
              = link_to 'Remove', [@current_user, address], method: :delete
              = link_to 'Edit', [:edit, @current_user, address] 
.phones
  %legend Phones
  = link_to 'New', [:new, @current_user, :phone]

  %table
    %thead
      %tr
        %th Number
        %th &nbsp;
    %tbody
      -@current_user.phones.each do |phone|
        %tr.phone{id: dom_id(phone)}
          %td= phone.number
          %td
            = link_to 'Remove', [@current_user, phone], method: :delete
            = link_to 'Edit', [:edit, @current_user, phone]  
