.column.three
  .profile
    .row
      =@current_user.first_name
    .row
      =@current_user.last_name
    .row
      =@current_user.email
    .row
      = link_to 'Edit', [:edit, @current_user]
.address
  .column.three
    %legend Addresses
    .column.five
      = link_to 'New', [:new, @current_user, :address]
    .row
      - @current_user.addresses.each do |address|
        = address.to_single_line
        .row
          = link_to 'Remove'
          = link_to 'Edit', [:edit, @current_user, address] 
.phones
  %legend Phones
  = link_to 'New', [:new, @current_user, :phone]

  %table
    %thead
      %tr
        %th Number
        %th &nbsp;
    %tbody
      -@current_user.phones.each do |phone|
        %tr.phone{id: dom_id(phone)}
          %td= phone.number
          %td
            = link_to 'Remove', [@current_user, phone], method: :delete
            = link_to 'Edit'  
