.actions
  = link_to 'Sale', [:new, :manage, :sale], class: 'action-button'
  = link_to 'Repair', '#', class: 'action-button'
  = link_to 'Custom', '#', class: 'action-button'
  = link_to 'Quick Sale', '#', class: 'action-button'
  = link_to 'Gold Buy', '#', class: 'action-button'
  = link_to 'Appraisals', '#', class: 'action-button'
  = link_to 'Stuller', '#', class: 'action-button'
  = link_to 'Inventory', '#', class: 'action-button'
  = link_to 'Photo Gallery', '#', class: 'action-button'
.angular
  {{testing angular brackets}}
