- variation = line_item.variation
- item = line_item.item.present? ? line_item.item : variation.parent_item

%tr.line_item
  %td{:valign => "top"}
    - if @order.payments.length > 0 && @order.paid > 0
      - unless line_item.refunded
        = link_to "refund", refund_admin_user_order_line_item_path(@user.pretty_id, @order.pretty_id, line_item.id), :method => :delete, :confirm => "Are you sure you want to REFUND #{item.name} from the order?"
    - else
      - unless line_item.refunded
        = link_to "remove", admin_user_order_line_item_path(@user.pretty_id, @order.pretty_id, line_item.pretty_id), :method => :delete, :confirm => "Are you sure you want to REMOVE #{line_item.name} from the order?"
  %td{:valign => "top"}
    ID#{item.pretty_id}
  %td{:valign => "top"}= item.name
  %td{:valign => "top"}
    - if line_item.refunded
      = line_item.size
    - else
      = text_field_tag "order[line_items][#{index}][size]", line_item.size
  %td.taxable{:valign => "top"}
    - unless line_item.refunded
      = check_box_tag "order[line_items][#{index}][taxable]", line_item.taxable, line_item.taxable
  %td.quantity{:valign => "top", :'data-quantity' => line_item.quantity}
    - if line_item.refunded
      = line_item.quantity
    - else
      = item.one_of_a_kind ? line_item.quantity : text_field_tag("order[line_items][#{index}][quantity]", line_item.quantity)
  %td.price{:valign => "top", :'data-price' => line_item.price}
    - if line_item.refunded
      = number_to_currency line_item.price
    - else
      = text_field_tag "order[line_items][#{index}][price]", line_item.price
  %td.refunded{:valign => "top", :'data-refunded' => "#{line_item.refunded}"}
    = line_item.refunded ? "REFUNDED" : ""
    = hidden_field_tag "order[line_items][#{index}][pretty_id]", line_item.pretty_id
  %td.total{:valign => "top"}= number_to_currency(line_item.total)
