- variation = line_item.variation
- item = variation.parent_item

%tr.line_item
  %td{:valign => "top"}
    - if @order.payments.length > 0 && @order.paid > 0
      = link_to "refund", refund_admin_user_order_line_item_path(@user.pretty_id, @order.pretty_id, line_item.pretty_id), :method => :delete, :confirm => "Are you sure you want to REFUND #{line_item.name} from the order?"
    - else
      = link_to "remove", admin_user_order_line_item_path(@user.pretty_id, @order.pretty_id, line_item.pretty_id), :method => :delete, :confirm => "Are you sure you want to REMOVE #{line_item.name} from the order?"
  %td{:valign => "top", :nowrap => "nowrap"}= "#{item.pretty_id}-#{variation.pretty_id}"
  %td{:valign => "top"}= item.name
  / %td{:valign => "top"}= line_item.size
  %td{:valign => "top"}
    = text_field_tag "order[line_items][][size]", line_item.size
  %td.taxable{:valign => "top"}
    - if line_item.refunded
      = line_item.taxable
    - else
      = check_box_tag("order[line_items][][taxable]", line_item.taxable, line_item.taxable)
  %td.quantity{:valign => "top"}
    - if line_item.refunded
      = line_item.quantity
    - else
      = item.one_of_a_kind ? line_item.quantity : text_field_tag("order[line_items][][quantity]", line_item.quantity)
  %td.price{:valign => "top"}
    - if line_item.refunded
      = line_item.price
    - else
      = text_field_tag "order[line_items][][price]", line_item.price
    = hidden_field_tag "order[line_items][][id]", line_item.id
  %td.refunded{:valign => "top"}= line_item.refunded ? "REFUNDED" : ""
  %td.total{:valign => "top"}= number_to_currency(line_item.total)
