.page
  .left-column
    %h1 #{@order.location.capitalize} #{@order.staging_type.capitalize}
    %h2 ORDER # #{@order.pretty_id} / TICKET # #{@order.ticket.pretty_id}
    
    %p ____________________________________________________
    
    %p.purchase-date
      %strong
        %i
          Intake Date:
          %span #{(@order.purchased_at.present? ? @order.purchased_at : @order.created_at).in_time_zone('Eastern Time (US & Canada)').strftime("%a, %b %d, %Y")}
          \/ Due Date:
          %span #{@order.due_date.in_time_zone('Eastern Time (US & Canada)').strftime("%a, %b %d, %Y")}
    
    = render :partial => "admin/users/orders/receipts/customer"
    
    - if @order.ship
      %p
        %strong Shipping Via #{@order.shipping_option} <br />
    
    = render :partial => "admin/users/orders/receipts/taxable_line_items"
    = render :partial => "admin/users/orders/receipts/nontaxable_line_items"
    = render :partial => "admin/users/orders/receipts/totals"
    
    = render :partial => "admin/users/orders/receipts/payments"
      
  .right-column
    = render :partial => "admin/users/orders/receipts/address"
    %p.disclaimer
      %strong DISCLAIMER:
      By accepting this contract, customer agrees to all fees and terms discussed. All hand made/carved items are organic and have allowance for artistic imperfections. Demands for exact symmetry & dimensions will be billed for computer cad designing. One model viewing will be provided with an allowance of one minor alteration. Any additional re-working will be billed & pre-paid at $75 per hour. No refunds or exchanges on any special orders or custom.
      
    :markdown
      X_____________________________________________________<br />
      *Customer Agrees to the Above*
      
      X_____________________________________________________<br />
      *Customer Pickup*
      
      _______________________<br />
      *Date*
        
    %p.clerk
      %strong Order Handled By #{@order.clerk.name}
      
    %hr
    
    - if @order.repair_notes.present?
      %h2 Repair Notes
      %p= @order.repair_notes
    - if @order.item_notes.present?
      %h2 Item Notes
      %p= @order.item_notes
    
    %h2 Additional Notes
    
    - if @order.notes.present?
      %p= @order.notes
    
    - if @order.show_wax?
      %strong Show wax?
      #{@order.show_wax} <br />
    
    - if @order.based_on_item_ids.present?
      %strong Based on Item ID(s):
      #{@order.based_on_item_ids} <br />
    - if @order.molds.present?
      %strong Mold Numbers:
      #{@order.molds} <br />
    - if @order.metals.present?
      %strong Metals:
      #{@order.metals} <br />
    - if @order.stones.present?
      %strong Stones:
      #{@order.stones}
    
    / - if @order.images.present?
    /   - @order.images.each do |image|
    /     = image_tag image.url(:thumbnail)
