.page
  .left-column
    %h1 #{@order.location.capitalize} #{@order.staging_type.capitalize}
    %h2 ORDER # #{@order.id} / TICKET # #{@order.ticket.pretty_id}
    
    %p ____________________________________________________
    
    %p.purchase-date
      %strong
        %i
          Purchase Date:
          %span #{(@order.purchased_at.present? ? @order.purchased_at : @order.created_at).in_time_zone('Eastern Time (US & Canada)').strftime("%a, %b %d, %Y")}
    
    = render :partial => "admin/users/orders/receipts/customer"
    
    - if @order.ship
      %p
        %strong Shipping Via #{@order.shipping_option} <br />
    
    = render :partial => "admin/users/orders/receipts/taxable_line_items"
    = render :partial => "admin/users/orders/receipts/nontaxable_line_items"
    = render :partial => "admin/users/orders/receipts/totals"
    
    = render :partial => "admin/users/orders/receipts/payments"
      
  .right-column
    = render :partial => "admin/users/orders/receipts/address"
    %p.disclaimer
      %strong DISCLAIMER:
      This receipt must be presented for any of the following:
        
      Unworn merchandise may be refunded within 30 days from date of receipt and will incur a 5% restocking fee.
      Merchandise that has been altered (..sized, engraved etc,..) or damaged is not returnable.
      An even (or larger compensated) exchange or In Store Credit may be issued at our discretion, and the re-stocking fee waived.
      Merchandise with manufacturing defects will be replaced at no charge.
      Wexford Jewelers is not responsible for normal wear & tear on merchandise.
      
    :markdown
      X_____________________________________________________<br />
      *Customer Agrees to the Above*
      
      X_____________________________________________________<br />
      *Customer Pickup*
      
      _______________________<br />
      *Date*
        
    %p.clerk
      %strong Order Handled By #{@order.clerk.name}
      
    %hr
    
    - if @order.repair_notes.present?
      %h2 Repair Notes
      %p= @order.repair_notes
    - if @order.item_notes.present?
      %h2 Item Notes
      %p= @order.item_notes
    
    %h2 Additional Notes
    
    - if @order.notes.present?
      %p= @order.notes
    
    - if @order.show_wax?
      %strong Show wax?
      #{@order.show_wax} <br />
    
    - if @order.based_on_item_ids.present?
      %strong Based on Item ID(s):
      #{@order.based_on_item_ids} <br />
    - if @order.molds.present?
      %strong Mold Numbers:
      #{@order.molds} <br />
    - if @order.metals.present?
      %strong Metals:
      #{@order.metals} <br />
    - if @order.stones.present?
      %strong Stones:
      #{@order.stones}
    
    / - if @order.images.present?
    /   - @order.images.each do |image|
    /     = image_tag image.url(:thumbnail)
