- content_for :page_title do
  %h1 #{@order.location.capitalize} #{@order.staging_type.capitalize} ##{@order.pretty_id}

- content_for :page_actions do
  - if @order.refunded
    %h2 REFUNDED
  - else
    .button= link_to 'refund order', refund_admin_user_order_path(@user.pretty_id, @order.pretty_id), id: "refund-order-button", confirm: "Are you sure you want to REFUND this order?"
    .button= link_to 'cancel order', cancel_admin_user_order_path(@user.pretty_id, @order.pretty_id), id: "cancel-order-button", confirm: "Are you sure you want to CANCEL this order?"

- content_for :extra_js do
  = render partial: "admin/users/orders/extra_javascript"

= render partial: "admin/users/orders/menu", locals: {active_url: admin_user_order_path(@user.pretty_id, @order.pretty_id)}

= render partial: 'admin/users/orders/clerks'
  
%hr

= render partial: 'admin/users/orders/shipping_address'

%hr

= render partial: "admin/users/orders/items"

%hr

= render partial: "admin/users/orders/payments"

%hr

= render partial: "admin/users/orders/notes"
