.form_wrapper
  %h1 Checking Out Order (##{@order.pretty_id})
  
  %p The item(s) in your shopping cart is still available on the website until the payment has processed. If it is a One of a Kind item, it goes to the first buyer. If it is a stock item, it can always be backordered for you. Thank you for your understanding in this matter.
  
  - if @order.line_items.length > 0
    - form_for @order, url: pay_path(@order.pretty_id), method: :post do |order_form|
      
      %table.stylized
        %thead
          %tr
            %th &nbsp;
            %th Item
            %th Size
            %th Price
            %th Quantity
            %th Total
            %td= link_to "remove all", clear_order_path(@order.pretty_id)
        %tbody
          - @order.line_items.each_with_index do |line_item, index|
            - unless line_item.is_quick_item?
              - variation = line_item.variation
              - item      = variation.parent_item
              %tr
                %td.left ID#{item.pretty_id}-#{variation.pretty_id}
                %td.left
                  = link_to image_tag(variation.assets.by_position.first.image.url(:tiny), class: "thumbnail_32"), item_path(item.pretty_id, variation_id: variation.pretty_id)
                  = link_to item.name, item_path(item.pretty_id, variation_id: variation.pretty_id)
                %td
                  %select{name: "order[line_items][#{index}][size]", id: "order[line_items][#{index}][size]".parameterize("_")}
                    - item.sizes.collect {|size| [size,size]}.each do |size|
                      - if size[0].to_f == line_item.size.to_f
                        %option{value: "#{size[0]}", selected: "selected"}= size[1]
                      - else
                        %option{value: "#{size[0]}"}= size[1]
                %td= number_to_currency line_item.price
                %td= line_item.quantity
                %td= number_to_currency line_item.total
                %td= link_to "remove", order_item_path(@order.pretty_id, line_item.pretty_id), method: :delete
            - else
              %tr
                %td.left QID#{line_item.quick_id}
                %td.left= line_item.name
                %td= line_item.size
                %td= number_to_currency line_item.price
                %td= line_item.quantity
                %td= number_to_currency line_item.total
                %td= link_to "remove", order_item_path(@order.pretty_id, line_item.pretty_id), method: :delete
          %tr
            %td{colspan: 4} &nbsp;
            %th Subtotal
            %td= number_to_currency @order.subtotal
            %td &nbsp;
          %tr
            %td{colspan: 4} &nbsp;
            %th Shipping
            %td
              %select{name: "order[shipping_option]", id: "order[shipping_option]".parameterize("_")}
                - @order.shipping_options.each do |option|
                  - if option[1] == @order.shipping_option
                    %option{value: "#{option[1]}", selected: "selected"}= option[0]
                  - else
                    %option{value: "#{option[1]}"}= option[0]
            %td &nbsp;
          %tr.row
            %td{colspan: 6}= order_form.submit "pay"
            %td &nbsp;
          %tr.row
            %td{colspan: 6}
              :textile
                Have anything to say to the Wexford Jewelers staff? Gift wrap, special delivery notes, etc?
          
              <strong>Please tell us here:</strong>
            %td &nbsp;
          %tr.row
            %td{colspan: 6}
              = order_form.text_area :notes, rows: 5
            %td &nbsp;
  - else
    %p Your shopping cart is empty.
