.form_wrapper
  %h1 Order Payment (##{@order.pretty_id})
  
  %p The item(s) in your shopping cart is still available on the website until the payment has processed. If it is a One of a Kind item, it goes to the first buyer. If it is a stock item, it can always be backordered for you. Thank you for your understanding in this matter.
  
  - if @order.line_items.length > 0
    - form_for :order, @order, :url => complete_path(@order.pretty_id), :method => :post do |order_form|
    
      .help
        :textile
          Please fill out your credit card information to complete this order. We do not store this information. Your information will be stored with a trusted third party, #{link_to "Braintree Payment Solutions", "http://www.braintreepaymentsolutions.com/"} for your personal future use. Your information will not be used by us for any other use than this order.
          
          
          If you have any questions about our #{link_to "privacy", privacy_path}, #{link_to "shipping", delivery_path}, or #{link_to "return", return_path} policies please feel free to view our policies below:
          
          * #{link_to "Privacy Policy", privacy_path}
          * #{link_to "Shipping Policy", delivery_path}
          * #{link_to "Return Policy", return_path}
      
      .form_content
        - if @result
          .errors
            - @result.errors.each do |error|
              .error= error.inspect
        %frameset
          %legend Credit Card Information
          %table.stripped
            %tr.row
              %td Cardholder Name
              %td= text_field "card", "cardholder_name"
            %tr.row
              %td Number
              %td= text_field "card", "number"
            %tr.row
              %td Expiration Date
              %td
                = text_field "card", "expiration_month", :class => "tiny"
                \/
                = text_field "card", "expiration_year", :class => "tiny"
      
      %table.stylized
        %thead
          %tr
            %th &nbsp;
            %th Item
            %th Size
            %th Price
            %th Quantity
            %th Total
            %td= link_to "remove all", clear_order_path(@order.pretty_id)
        %tbody
          - @order.line_items.each_with_index do |line_item, index|
            - unless line_item.is_quick_item?
              - item = line_item.item
              %tr
                %td.left ID#{item.pretty_id}
                %td.left
                  = link_to image_tag(item.assets.by_position.first.image.url(:tiny), class: "thumbnail_32"), item_path(item.pretty_id)
                  = link_to item.name, item_path(item.pretty_id)
                %td
                  %select{name: "order[line_items][#{index}][size]", id: "order[line_items][#{index}][size]".parameterize("_")}
                    - item.sizes.collect {|size| [size,size]}.each do |size|
                      - if size[0].to_f == line_item.size.to_f
                        %option{value: "#{size[0]}", selected: "selected"}= size[1]
                      - else
                        %option{value: "#{size[0]}"}= size[1]
                %td= number_to_currency line_item.price
                %td= line_item.quantity
                %td= number_to_currency line_item.total
                %td= link_to "remove", order_item_path(@order.pretty_id, line_item.pretty_id), method: :delete
            - else
              %tr
                %td.left QID#{line_item.quick_id}
                %td.left= line_item.name
                %td= line_item.size
                %td= number_to_currency line_item.price
                %td= line_item.quantity
                %td= number_to_currency line_item.total
                %td= link_to "remove", order_item_path(@order.pretty_id, line_item.pretty_id), method: :delete

          %tr
            %td{colspan: 4} &nbsp;
            %th Subtotal
            %td= number_to_currency @order.subtotal
            %td &nbsp;
          %tr
            %td{colspan: 4} &nbsp;
            %th Shipping
            %td= number_to_currency @order.shipping_cost
            %td.left= @order.shipping_option
          %tr
            %td{colspan: 4} &nbsp;
            %th Total
            %td
              %strong= number_to_currency @order.total
            %td &nbsp;
          %tr.row
            %td{colspan: 6}= order_form.submit "process your order"
            %td &nbsp;
          %tr.row
            %td{colspan: 6}
              :textile
                Have anything to say to the Wexford Jewelers staff? Gift wrap, special delivery notes, etc?
          
              %strong Please tell us here:
            %td &nbsp;
          %tr.row
            %td{colspan: 6}
              = order_form.text_area :notes, :rows => 5
            %td &nbsp;
  - else
    %p Your shopping cart is empty.
