.form_wrapper
  %h1 Order Payment (##{@order.id})
  
  %p The item(s) in your shopping cart is still available on the website until the payment has processed. If it is a One of a Kind item, it goes to the first buyer. If it is a stock item, it can always be backordered for you. Thank you for your understanding in this matter.
  
  - if @order.line_items.the_living.length > 0
    - form_for :order, @order, :url => complete_path(@order.id), :method => :post do |order_form|
    
      .help
        :textile
          Please fill out your credit card information to complete this order. We do not store this information. Your information will be stored with a trusted third party, #{link_to "Braintree Payment Solutions", "http://www.braintreepaymentsolutions.com/"} for your personal future use. Your information will not be used by us for any other use than this order.
          
          
          If you have any questions about our #{link_to "privacy", policy_privacy_path}, #{link_to "shipping", policy_delivery_path}, or #{link_to "return", policy_return_path} policies please feel free to view our policies below:
          
          * #{link_to "Privacy Policy", policy_privacy_path}
          * #{link_to "Shipping Policy", policy_delivery_path}
          * #{link_to "Return Policy", policy_return_path}
      
      .form_content
        - if @result
          .errors
            - @result.errors.each do |error|
              .error= error.inspect
        %frameset
          %legend Credit Card Information
          %table.stripped
            %tr.row
              %td Cardholder Name
              %td= text_field "card", "cardholder_name"
            %tr.row
              %td Number
              %td= text_field "card", "number"
            %tr.row
              %td Expiration Date
              %td
                = text_field "card", "expiration_month", :class => "tiny"
                \/
                = text_field "card", "expiration_year", :class => "tiny"
      
      %table.stylized
        %thead
          %tr
            %th &nbsp;
            %th Item
            %th Size
            %th Price
            %th Quantity
            %th Total
            %td= link_to "remove all", clear_order_path(@order.id)
        %tbody
          - order_form.fields_for :line_items do |line_item_form|
            - line_item = line_item_form.object
            - variation = line_item.variation
            - item = variation.item
            - unless line_item.ghost
              %tr
                %td.left #{item.id}-#{variation.id}
                %td.left
                  = link_to image_tag(variation.assets.by_position.first.image.url(:tiny), :class => "thumbnail_32"), item_path(:id => item, :variation_id => variation.id)
                  = link_to item.name, item_path(:id => item, :variation_id => variation.id)
                %td
                  %select{:name => "#{line_item_form.object_name}[size]", :id => "#{line_item_form.object_name}[size]".parameterize("_")}
                    - item.sizes.collect {|size| [size,size]}.each do |size|
                      - if size[0].to_f == line_item.size.to_f
                        %option{:value => "#{size[0]}", :selected => "selected"}= size[1]
                      - else
                        %option{:value => "#{size[0]}"}= size[1]
                %td= number_to_currency line_item.price
                %td= line_item.quantity
                %td= number_to_currency line_item.total
                %td= link_to "remove", order_item_path(:order_id => @order.id, :id => line_item.id), :method => :delete
          %tr
            %td{:colspan => 4} &nbsp;
            %th Subtotal
            %td= number_to_currency @order.subtotal
            %td &nbsp;
          %tr
            %td{:colspan => 4} &nbsp;
            %th Shipping
            %td= number_to_currency @order.shipping_cost
            %td.left= @order.shipping_option
          %tr
            %td{:colspan => 4} &nbsp;
            %th Total
            %td
              %strong= number_to_currency @order.total
            %td &nbsp;
          %tr.row
            %td{:colspan => 6}= order_form.submit "process your order"
            %td &nbsp;
          %tr.row
            %td{:colspan => 6}
              :textile
                Have anything to say to the Wexford Jewelers staff? Gift wrap, special delivery notes, etc?
          
              <strong>Please tell us here:</strong>
            %td &nbsp;
          %tr.row
            %td{:colspan => 6}
              = order_form.text_area :notes, :rows => 5
            %td &nbsp;
  - else
    %p Your shopping cart is empty.
