.page-header-content
  %h1
    %a.icon-arrow-left-3.page-back(onclick='javascript:history.back()')
    Order #{@order.pretty_id}

%table#line-items-view.striped
  %thead
    %tr
      %th Qty
      %th Item # or Description
      %th Taxable
      %th Price
      %th &nbsp;
  - @order.line_items.each do |line_item|
    %tbody.line_item{id: dom_id(line_item)}
      %tr
        %td
          .input-control.text
            = text_field_tag 'line_item[quantity]', line_item.quantity, class: 'line-item-quantity'
        %td
          .input-control.text
            = text_field_tag 'line_item[summary]', line_item.summary, class: 'line-item-summary'
        %td
          .input-control.checkbox
            = check_box_tag 'line_item[taxable]', true, line_item.taxable, class: 'line-item-taxable'
        %td
          .input-control.text
            = text_field_tag 'line_item[price]', line_item.price, class: 'line-item-price'
        %td.line-item-actions
          %button.button.bg-color-green.fg-color-white.line-item-add
            add
          %button.button.bg-color-green.fg-color-white.line-item-delete
            delete
          %button.button.bg-color-green.fg-color-white.line-item-discount
            discount
          %button.button.bg-color-green.fg-color-white.line-item-note
            note
  %tbody.line-item#line-items-form
    %tr
      %td
        .input-control.text
          = text_field_tag 'line_item[quantity]', 1, class: 'line-item-quantity', id: 'line-item-quantity'
      %td
        .input-control.text.ui-widget
          = text_field_tag 'line_item[summary]', nil, class: 'line-item-summary', id: 'line-item-summary'
      %td
        = check_box_tag 'line_item[taxable]', true, false, class: 'line-item-taxable', id: 'line-item-taxable'
      %td
        .input-control.text
          = text_field_tag 'line_item[price]', nil, class: 'line-item-price', id: 'line-item-price'
      %td.line-item-actions
        %button.button.bg-color-green.fg-color-white#line-item-add
          add
        %button.button.bg-color-green.fg-color-white#line-item-delete
          delete
        %button.button.bg-color-green.fg-color-white#line-item-discount
          discount
        %button.button.bg-color-green.fg-color-white#line-item-note
          note
        
:javascript
  var order = new Order("#{@order.id}");
  $('.line-item-taxable').CheckboxSwitch({'on-text': 'Tax', 'off-text': 'No Tax'});
