.page-header-content
  %h1
    %a.icon-arrow-left-3.page-back(onclick='javascript:history.back()')
    Editing Sale #{@order.pretty_id}

.customer
  - address = @order.user.addresses.first
  .name= @order.user.full_name
  .address
    .line1= address.address_1
    - if address.address_2.present?
      .line2= address.address_2
    .bottom
      = "#{address.city}, #{address.province} #{address.postal_code} #{address.country}"

= render partial: 'manage/orders/line_items', locals: {order: @order}

%a.button.bg-color-green.fg-color-white{href: find_manage_order_users_path(@order)}
  Lookup Customer
%a.button
  Save for Later
%a.button
  Layaway
%a.button.bg-color-green.fg-color-white{href: checkout_manage_sale_path(@order)}
  Checkout
%a.button.bg-color-green.fg-color-white{href: cancel_manage_sale_path(@order)}
  Cancel
