.shipping
  = form_for [@cart] do |f|
    = f.text_field     :address_1,            placeholder: 'Address 1'
    = f.text_field     :city,                 placeholder: 'City'
    = f.text_field     :province,             placeholder: 'Province'
    = f.text_field     :postal_code,          placeholder: 'Postal Code- 45367'
    = f.text_field     :country,              placeholder: 'US'
    = f.text_field     :email,                placeholder: 'your_name@something.com'
    = f.text_field     :phone,                placeholder: '1234567890'
    .actions
      = submit_tag "Save"
