.cart
  %legend Cart
  %table
    %thead  
      %tr
        %th Name
        %th Price
        %th Quantity
        %th &nbsp;
      %tbody
        - @cart.line_items.each do |line_item|
          %tr.item{id: dom_id(line_item)}
            %td= line_item.item.name
            %td= line_item.item.price
            %td= line_item.item.quantity
            %td
              = link_to 'Delete'
  %div= link_to 'Continue Check Out', [:checkout]
