%h1 Cart Checkout

= form_for [@cart] do |cart_form|
  = error_messages_for @cart
  = error_messages_for @cart.shipping_address

  = hidden_field_tag :current_stage, 'checkout'
  = cart_form.hidden_field :current_stage, value: 'shipping'

  - if @current_user
    = cart_form.hidden_field :first_name, value: @current_user.first_name
    = cart_form.hidden_field :last_name, value: @current_user.last_name
    = cart_form.hidden_field :email, value: @current_user.email
    = cart_form.hidden_field :phone, value: @current_user.phones.first.number

    %fieldset
      %legend Shipping Address

      - @current_user.addresses.each do |address|
        .column.two
          - cart_address_id = "cart_shipping_address_#{address.id}"
          = cart_form.radio_button :shipping_address_id, address.id, id: cart_address_id
          = cart_form.label :shipping_address, address.to_single_line, for: cart_address_id
          
  - else
    %fieldset
      %legend Personal Information
    
      = cart_form.text_field :first_name, placeholder: 'First Name'
      = cart_form.text_field :last_name, placeholder: 'Last Name'

    = cart_form.fields_for :shipping_address do |address_form|
      %fieldset.column
        %legend Shipping Address Information

        = address_form.text_field :address_1, placeholder: 'Line 1'
        = address_form.text_field :address_2, placeholder: 'Line 2'
        = address_form.text_field :city, placeholder: 'City'
        = address_form.text_field :postal_code, placeholder: 'Zip Code or Postal Code'
        = address_form.select :country, options_for_select(Fedexer::SHIPPING_COUNTRIES)
        = address_form.select :province, options_for_select([])
      %fieldset
        %legend Contact Information

        = cart_form.text_field :email, placeholder: 'Email'
        = cart_form.text_field :phone, placeholder: 'Phone Number'

  = cart_form.submit 'Next'

= render 'index', locals: {current_stage: 'checkout', next_stage: 'shipping'}

- content_for :extra_javascript do
  - Fedexer::SHIPPING_COUNTRIES.collect {|country| country[1]}.each do |country|
    :javascript
      var #{country}Provinces = #{Fedexer.provinces(country)};
  
  :javascript
    var provincesForCountryCode = function(code) {
      provinces = eval(code + 'Provinces');
      return provinces;
    };

    var optionsForSelect = function(optionsArray) {
      options = '';
      $(optionsArray).each(function(){
        options += '<option value="' + this[1] + '">' + this[0] + '</option>';
      });
      return options;
    };

    var setProvincesFromCountryCode = function(countryCode) {
      provinces       = provincesForCountryCode(countryCode);
      provincesSelect = $('#cart_shipping_address_province');
      provincesSelect.html(optionsForSelect(provinces));
    };
  
    $(document).ready(function(){
      $('#cart_shipping_address_country').change(function(){
        setProvincesFromCountryCode(this.value);
      });
      setProvincesFromCountryCode($('#cart_shipping_address_country').val());
    });
