%h1 Cart Payment

= form_for [@cart], url: [:cart] do |cart_form|
  = error_messages_for @cart
  = error_messages_for @cart.payment
  = error_messages_for @cart.credit_card

  = hidden_field_tag :current_stage, 'pay'
  = cart_form.hidden_field :current_stage, value: 'process_cart'

  %fieldset
    %legend Credit Card Information
    = cart_form.fields_for :credit_card do |card_form|
      = card_form.text_field :name, placeholder: 'Name'
      = card_form.text_field :number, placeholder: 'Number'
      = card_form.select :year, options_for_select((1..25))
      = card_form.select :month, options_for_select((1..12))
      = card_form.text_field :ccv, placeholder: 'Ccv'

  = cart_form.fields_for :billing_address do |address_form|
    %fieldset.column
      %legend Billing Address Information

      = address_form.text_field :address_1, placeholder: 'Line 1'
      = address_form.text_field :address_2, placeholder: 'Line 2'
      = address_form.text_field :city, placeholder: 'City'
      = address_form.text_field :province, placeholder: 'State or Province'
      = address_form.text_field :postal_code, placeholder: 'Zip Code or Postal Code'
      = address_form.text_field :country, placeholder: 'Country'

  = cart_form.submit 'Next'

= render 'index', locals: {current_stage: 'pay', next_stage: 'summary'}
