%h1 Your Cart has been completed, order number #{@cart.order.pretty_id}
%p Thank you #{@cart.full_name} for your purchase.

%h2 Shipping Address
%pre
  = @cart.shipping_address.to_single_line
%legend You Current Shopping Cart

%table#current-cart
  %thead
    %tr
      %th &nbsp;
      %th Description
      %th Size
      %th Price
      %th Quantity
      %th &nbsp;
  %tbody.items
    - @cart.line_items.each do |line_item_form|
      - line_item = line_item_form
      - item      = line_item.item
      %tr.item{id: item.id}
        %td
          = link_to image_tag(item.assets.by_position.first.image.url(:thumbnail)), item_path(item.pretty_id)
        -if item.quantity == 0
          %td
            %p= item.description
            %b
            %h4 Back Order Confirmation
            %p= item.backorder_notes
        -else
          %td= item.description
        %td= line_item_form.size
        %td= number_to_currency line_item.price
        %td= line_item_form.quantity
%h3 Shipping and Handling
%pre
  = @cart.shipping_rate
%h2 Total
%pre
  = number_to_currency(@cart.total)
