- content_for :page_title do
  %h1 Ticket ##{@ticket.id} > Details

- if @ticket.order
  = render :partial => "admin/orders/menu", :locals => {:active_url => admin_ticket_path(@ticket)}
#ticket_details
  
  .details
    - form_for :ticket, @ticket, :url => admin_ticket_path(:id => @ticket), :html => {:method => :put} do |ticket_form|
      .status
        .field
          = ticket_form.label :assigned_id, "Assigned To"
          = ticket_form.select :assigned_id, options_from_collection_for_select(@workers, "id", "name", @ticket.user ? @ticket.user.id : @workers.first.id)
        .field
          = ticket_form.label :current_stage_id
          = ticket_form.select :current_stage_id, options_for_select(@ticket.stages, [@ticket.current_stage, @ticket.current_stage_id])
        .field
          = ticket_form.label :current_stage_notes
          = ticket_form.text_area :current_stage_notes
        .field
          = ticket_form.submit "update ticket", :class => "button submit"
  - if @ticket.order
    %p This ticket is attached to Order #{link_to @ticket.order_id, admin_order_path(@ticket.order_id)}