- if line_item.is_quick_item
  .info
    %h3 Size
    %p= line_item.size
  .description
    - if line_item.description != ""
      %h3 Description
      %p= truncate_by_words textilize(line_item.description), 40
- else
  = image_tag line_item.variation.assets.by_position.first.image.url(:large)
  .info
    %h3 Size
    %p= line_item.size
    %h3 Materials
    %p
      #{line_item.variation.metals} <br />
      #{line_item.variation.finishes} <br />
      #{line_item.variation.jewels}
  .description
    - if line_item.variation.description != ""
      %h3 Description
      %p= truncate_by_words textilize(line_item.variation.item.description), 20
      %h3 Variation Description
      %p= truncate_by_words textilize(line_item.variation.description), 20
    - else
      %h3 Description
      %p= truncate_by_words textilize(line_item.variation.item.description), 40