%table.stylized.totals
  %thead
    %tr
      %th Subtotal
      %th Tax
      %th Shipping
      %th Total
  %tbody
    %tr
      %td #{number_to_currency @order.subtotal}
      %td #{number_to_currency @order.tax}
      - if @order.ship
        %td #{number_to_currency @order.shipping_cost}
      - else
        %td #{number_to_currency 0}
      %td #{number_to_currency @order.total}