<div class='image' id="<%= parent_image_id %>"> 
  <div class='actions'> 
    <a href="<%= original_path %>" target="_blank">view</a>
    <div class="delete" href="<%= delete_path %>" parent_image_id="<%= parent_image_id %>">delete</div> 
  </div> 
  <img alt="<%= name %>" src="<%= path %>" /> 
</div>
