- form_for @order, :url => admin_order_path(@order), :html => {:method => :put} do |order_form|
  #order_details
    .field.required
      = order_form.label :due_at, "Due In from Take In Date"
      = order_form.select :due_at, options_for_select(@order.due_dates, [@order.due_at, @order.due_at])
    .field
      = order_form.label :molds, "Mold Numbers"
      = order_form.text_field :molds
    .field
      = order_form.label :based_on_item_ids
      = order_form.text_field :based_on_item_ids
    .field.required
      = order_form.label :metals
      = order_form.text_field :metals
    .field
      = order_form.label :stones
      = order_form.text_field :stones
    .field
      = order_form.label :show_wax
      = order_form.check_box :show_wax
    .field.required
      = order_form.label :item_notes, "Custom Notes"
      = order_form.text_area :item_notes
    .field
      = order_form.submit "save custom", :class => "button submit"