- content_for :page_title do
  %h1 Listing all Collections
  
- content_for :page_actions do
  = raw button_for_url "create a new collection", new_admin_collection_path, :class => "button"

- content_for :page_content do
  - paginated_section @collections do
    - @collections.each do |collection|
      .container
        .title= link_to "the #{collection.name} collection contains #{pluralize(collection.items.length, 'item')}", admin_collection_path(collection.id)
        .content
          - if collection.items.length > 0
            .collage_4
              - collection.items[0..3].each do |item|
                = link_to(image_tag(item.variations.first.assets.first.image(:manage)), admin_collection_path(collection.id))
          - else
            = link_to(image_tag("/images/ui/no_image.jpg"), admin_collection_path(collection.id))
          
      
