- content_for :page_title do
  %h1 Viewing the #{@collection.name} collection

- content_for :page_actions do
  .button.dangerous= link_to 'remove', [:admin, @collection], confirm: "Are you sure you want to remove #{@collection.name}?", method: :delete
  .button= link_to 'edit',   [:edit, :admin, @collection]

- content_for :page_content do
  .description= markdown @collection.description
  - if @collection.items.length > 0
    .containers
      = render :partial => "admin/items/summary", :collection => @collection.items
