- content_for :extra_js do
  = javascript_include_tag "molds"

%fieldset
  #mold_form.form
    = mold.hidden_field :id
    .field
      = mold.label :custom_id, "Previous Id"
      = mold.text_field :custom_id
    .field
      = mold.label :description
      = mold.text_area :description
    
    - mold.fields_for :assets, Asset.new do |current_asset|
      .field.image_uploader
        = current_asset.label :image, "Upload a New Image"
        = current_asset.file_field :image, :class => "original_file_field"
    .field.images{:id => "images_for_mold_#{@mold.id}"}
      - if @mold.assets.length > 0
        - @mold.assets.by_position.each do |uploaded_asset|
          .image{:id => "image_#{uploaded_asset.id}"}
            .actions
              = link_to "view", uploaded_asset.image.url(:original), :target => "_blank"
              .delete{:href => admin_mold_attachment_path(:mold_id => @mold.id, :id => uploaded_asset.id), :parent_image_id => "image_#{uploaded_asset.id}"}
                delete
            = image_tag uploaded_asset.image.url(:manage)
            .id{:style => "visibility: hidden", :id => uploaded_asset.id}
            
    %hr
    .form_actions
      = submit_tag "save", :class => "submit"