- content_for :page_title do
  %h1 Listing All Molds
  
- content_for :page_content do
  = will_paginate @molds
  - @molds.each do |mold|
    - mold_id = mold.custom_id == nil ? mold.id : mold.id.to_s + "/" + mold.custom_id
    .container{:id => "mold_#{mold_id}"}
      .title= link_to mold_id, admin_mold_path(mold.id)
      .content
        - if mold.assets.length > 0
          = link_to(image_tag(mold.assets.first.image(:manage)), admin_mold_path(mold.id))
        - else
          = link_to(image_tag("/images/ui/no_image.jpg"), admin_mold_path(mold.id))