= form_for @customer, url: (@customer.new_record? ? manage_customers_path : manage_customer_path(@customer.id))  do |user_form|
  = error_messages_for @customer
  %fieldset
    %legend User Details
    .input-control.text
      = user_form.hidden_field :role, value: 'customer'
      = user_form.label :first_name, 'First Name'
      = user_form.text_field :first_name
      = user_form.label :last_name, 'Last Name'
      = user_form.text_field :last_name
    
  %fieldset
    %legend Addresses
    = user_form.fields_for :addresses  do |address_form|
      .input-control.text
        = address_form.text_field :address_1, placeholder: 'Address 1'
        = address_form.text_field :city, placeholder: 'city'
        = address_form.text_field :postal_code, placeholder: 'zip'
      .input-control.select
        = address_form.select :province, Shipper::STATES
  %fieldset
    %legend Phone
    = user_form.fields_for :phones do |phone_form|
      .input-control.text
        = phone_form.phone_field :number, placeholder: 'Number'
  
  .input-control.text
    = user_form.label :email, 'Email'
    = user_form.email_field :email

    = user_form.label :email_confirmation, 'Email Confirmation'
    = user_form.email_field :email_confirmation

  .input-control.password
    = user_form.label :password, 'Password'
    = user_form.password_field :password

    = user_form.label :password_confirmation, 'Password Confirmation'
    = user_form.password_field :password_confirmation

  .input-control.text
    = user_form.label :anniversary
    = user_form.text_field :anniversary

    = user_form.label 'Ring Size'
    = user_form.text_field :ring_size
  = link_to 'Add Ring Size', new_manage_customer_finger_path(@customer)
  .actions
    = user_form.submit 'Save' 
