%p
  %strong
    %span{:style => "font-size: 1.3em"}
      = @order.user.name
  %br
  - if @order.address.present?
    = @order.address.address_1
    %br
    - if @order.address.address_2.present?
      = @order.address.address_2
      %br
    #{@order.address.city}, #{@order.address.province} #{@order.address.postal_code} #{@order.address.country}
  - @order.user.phones.each do |phone|
    %br
    = phone
  - @order.user.emails.each do |email|
    %br
    = email
