%h2 Payment History

- if @order.payments.length > 0
  %table.stylized.payments
    %thead
      %tr
        %th Paid On
        %th Payment Type
        %th Check #
        %th Payment Amount
    %tbody
      - @order.payments.each do |payment|
        %tr
          %td= payment.created_at.strftime("%b %d, %Y")
          %td= payment.payment_type
          %td= payment.check_number
          %td= number_to_currency payment.amount
      %tr
        %td &nbsp;
        %th{:colspan => 2}= @order.balance > 0 ? "Down Payment" : "Paid"
        %th#paid= number_to_currency(@order.paid)
      %tr
        %td &nbsp;
        %th{:colspan => 2} Balance Owing
        %th#balance= number_to_currency(@order.balance)
