- unless line_item.is_quick_item
  = image_tag line_item.variation.assets.first.image.url(:large)
%h3 Item Description
%p= truncate_by_words textilize(@order.item_notes), 20
%h3 Repair Notes
%p
  = textilize(line_item.description)
  = truncate_by_words textilize(@order.repair_notes), 20
%p
  %strong Size at Intake:
  = line_item.size
