%div
  %table
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Email
        %th 
          %button.button.bg-color-green.fg-color-white
            = link_to 'Add a User', new_manage_user_path
        %th
          %a.button.bg-color-blue.fg-color-black{href: new_manage_user_path}
    - @customers.each do |customer|
      %tbody
        %tr{id: customer.id}
          %td= customer.first_name
          %td= customer.last_name
          %td= customer.email
          %td
            %button.bg-color-purple.fg-color-white
              = link_to 'edit', edit_manage_user_path(customer)
          %td
            %button.bg-color-red
              = link_to 'delete', [:manage, customer], method: 'delete'
