%p.emails
  %strong Emails
  - @user.emails.each_with_index do |email, index|
    .email{id: email}
      = email
      %span.remove= link_to 'delete', admin_user_email_path(@user.pretty_id, index), method: :delete, confirm: 'Are you sure you want to delete this email address?'
  %hr
  #add_email= link_to 'new email address', new_admin_user_email_path(@user.pretty_id)

#add_email_module.module
  #email_form.window
    %h1 Add a New Email Address
    = form_tag admin_user_emails_path(@user.pretty_id) do
      .field.required
        = label_tag      :email, 'Email Address'
        = text_field_tag :email
      .field
        #cancel_email.acts_as_button cancel
        = submit_tag "add new email", class: "submit button"

:javascript
  function setup_add_email() {
    $("#add_email_module").hide();
    $("#add_email a:first")
      .click(function(){
        $("#add_email_module").show();
        return false;
      });
    $("#cancel_email")
      .click(function(){
        $("#add_email_module").hide();
        return false;
      });
    $("#email_form form:first")
      .submit(function(){
        
      });
  }
  
  $(document).ready(function(){
    setup_add_email();
  });
