- content_for :page_title do
  %h1 Customer Search Results
  
- content_for :page_content do
  = will_paginate @users

  - if @users.length > 0
    %table.stylized
      %thead
        %th Id
        %th Login
        %th Name
        %th Emails
        %th Active
        %th{:colspan => 3} Actions
      %tbody
        - @users.each do |user|
          %tr.user
            %td= link_to user.id,    admin_user_path(user.id)
            %td= link_to user.login, admin_user_path(user.id)
            %td= link_to user.name,  admin_user_path(user.id)
            %td= raw user.emails.map {|email| link_to(email, "mailto:#{email}")}.join(', ')
            %td= user.is_active ? image_tag("ui/deny.png") : image_tag("ui/accept.png")
            %td= link_to "view",   admin_user_path(user.id)
            %td= link_to "edit",   edit_admin_user_path(user.id)
            %td= link_to "remove", admin_user_path(user.id), :confirm => "Are you sure you want to remove this user?", :method => :delete
  - else
    %p The saddest state in the world of business, is the state that a business falls in to when it has no users.

  = will_paginate @users
%hr

= render :partial => 'search_form'
