- content_for :page_title do
  %h1 Viewing #{@user.name}
  
- content_for :page_actions do
  = button_for_url "edit", edit_admin_user_path(@user), :class => "button"
  
- content_for :page_content do
  .2-column.container
    %h2 Contact Information
    
    %p
      %strong Addresses
      - @user.addresses.each do |address|
        %br
        #{address.address_1}, 
        - if address.address_2.present?
          #{address.address_2},
        #{address.city}, #{address.province} #{address.postal_code}
    %p  
      %strong Phone Numbers
      - @user.phones.each do |phone|
        %br
        = phone
    %p 
      %strong Email Addresses
      - @user.emails.each do |email|
        %br
        = email
        
  .2-column.container
    %h2 Balances
    
    %table
      %tbody
        %tr
          %td Total Spent
          %th= number_to_currency(@user.total_spent)
        %tr
          %td In-Store Credit
          %th= number_to_currency(@user.total_credits)
        %tr
          %td Balance Owing
          %th= number_to_currency(@user.total_balance)
  
  %hr
  
  %h2 History
  
  %p
    %strong Orders
    %table.index.stylized
      %thead
        %tr
          %th Order
          %th Item(s)
          %th Total
          %th Paid
          %th Balance
          %th Location
          %th Kind
          %th Status
      %tbody
        - @user.orders.each do |order|
          %tr{:class => cycle("normal", "alternate")}
            %td= link_to(order.id, admin_order_path(order))
            %td
              - order.line_items.the_living.each do |line_item|
                - if line_item.variation
                  = link_to("ID#{line_item.variation.item_id}-#{line_item.variation_id}", admin_item_path("ID#{line_item.variation.item_id}-#{line_item.variation_id}"))
                - else
                  QID#{line_item.id}
                %br
            %td= number_to_currency(order.total)
            %td= number_to_currency(order.paid)
            %td= number_to_currency(order.balance)
            %td{:class => order.location == "website" ? "website" : "instore"}= order.location.capitalize
            %td= order.staging_type
            %td= order.ticket.current_stage
  %p
    %strong Payments
    %table.index.stylized
      %thead
        %tr
          %th Order
          %th Paid On
          %th Payment Type
          %th Check #
          %th Payment Amount
      %tbody
        - @user.orders.map(&:payments).each do |payment|
          %tr
            %td= link_to(payment.order.id, admin_order_path(payment.order.id))
            %td #{time_ago_in_words(payment.created_at)} ago (#{payment.created_at.strftime("%b %d, %Y")})
            %td= payment.payment_type.name
            %td= payment.check_number
            %td= number_to_currency(payment.amount)

