.grid-whole
  .grid-quarter
    = link_to 'WJ', [:root], class: 'brand'
  .grid-two-quarters
    = form_tag search_path, method: :get do
      = text_field_tag 'q', nil, placeholder: 'Search'
      = submit_tag 'Search'
  .grid-quarter
    = link_to "Cart (#{@cart.line_items.count})", [:cart]
    = link_to 'Check Out', [:checkout]

    - if @current_user
      = link_to 'Account', [:account]
      = link_to 'Logout', [:logout]
    - else
      = render partial: 'layouts/login_form'
.grid-whole
  = link_to 'Jewelery', [:items]
  = link_to 'Collections', [:collections]
  = link_to 'About', [:about_us]
  = link_to 'Contact Us', url_for([:about_us]) + '#contact_us'
  = link_to 'FAQ', [:faq]
  = link_to 'Blog', 'http://blog.wexfordjewelers.com'
