%nav.navbar.fixed-top.row
  .column.one
    = link_to 'WJ', [:root], class: 'brand'
  .column.two
    = form_tag search_path, method: :get do
      = text_field_tag 'q', nil, placeholder: 'Search'
      = submit_tag 'Search'
  .column.three.align-right
    %ul.nav
      %li= link_to "Cart (#{@cart.line_items.count})", [:cart]
      %li= link_to 'Check Out', [:checkout]

      - if @current_user
        %li= link_to 'Account', [:account]
        %li= link_to 'Logout', [:logout]
      - else
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            Login
            %b.caret &nbsp;
          %ul
            %li= render partial: 'layouts/login_form'
%nav.subnavbar.fixed-top.column.row
  %ul.nav
    %li= link_to 'Jewelery', [:items]
    %li= link_to 'Collections', [:collections]
    %li= link_to 'About', [:about_us]
    %li= link_to 'Contact Us', url_for([:about_us]) + '#contact_us'
    %li= link_to 'FAQ', [:faq]
    %li= link_to 'Blog', 'http://blog.wexfordjewelers.com'
