= form_tag [:session] do
  %legend WJ Account
  .rounded
    = text_field 'user', 'login', placeholder: 'Login', class: 'rounded'
    = text_field 'user', 'password', placeholder: 'Password', class: 'rounded'
    .actions
      = link_to 'Register', [:register, :users]
      = submit_tag 'Login', class: 'rounded'
