!!! 5
%html{lang: 'en'}
  %head
    %meta{name: "title", content: "Wexford Jewelers | our passion is design #{yield :page_title}"}
    %meta{name: "decription", content: "#{yield :meta_description} | Wexford Jewelers, designers of custom jewelry."}
    %link{rel: "image_src", href: "#{yield :image_src}"}
    %meta{name: "keywords", content: "ring, pendant, necklace, bracelet, custom, engagement, wedding, #{yield :meta_keywords}"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %title Wexford Jewelers | our passion is design #{yield :page_title}
    
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application'
    = csrf_meta_tag
    
    - if Rails.env.production?
      :plain
        <script type="text/javascript">
      
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-520761-7']);
          _gaq.push(['_trackPageview']);
      
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      
        </script>
    %meta{name: "google-site-verification", content: "BW7w5f_8Uei0FEXeWXIQVWvTztGHnGkpjeluMg-Wvvw"}
  %body
    .row
      .attached
        .name{onclick: 'void(0);'}
          %span
            = link_to 'Wexford Jewelers', [:root]
            %a.toggle-nav &nbsp;
      %ul
        %li
          = form_tag search_path, method: :get do
            = text_field_tag 'q', nil, placeholder: 'Search'
        %li= link_to 'Account', '#'
        %li.has-flyout
          = link_to 'Login', [:login]
          %a.flyout-toggle{href: '#'}
            %span &nbsp;
          %ul.flyout
            %li
              login form
            %li
              Social login stuff
    .container
      = yield
