!!! 5
%html(lang="en")
  %head
    %meta{charset: "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", content: "IE=Edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "image_src", href: "#{yield :image_src}"}
    %title Manage #{yield :page_title}

    = csrf_meta_tags
    = stylesheet_link_tag 'manage', media: 'all'
    = javascript_include_tag 'manage', media: 'all'

  %body#manage-layout
    %header#header
      %ul#top-menu
        %li#logo logo
        %li#search search
        %li#advanced-options admin
      %ul#bottom-menu
        %li= link_to 'Home', '/manage'
        %li= link_to 'Sale'

    %section#main
      %nav#left-sidebar
        left sidebar
      %article#content
        - if flash.present?
          %section
            - flash.each do |(key, value)|
              = content_tag :article, raw(value), class: 'message', id: "#{key}-message"
        %section= yield
      %aside#right-sidebar
        right sidebar
