!!! 5
%html(lang='en')
  %head
    %meta{charset: "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", content: "IE=Edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{rel: "image_src", href: "#{yield :image_src}"}
    %title Manage

    = csrf_meta_tags

    = stylesheet_link_tag 'manage'

  %body
    .page.primary
      .page-header
        .page-header-content
          .app-bar
            %a.shortcut{href: root_path}
              %span.icon
                %i.icon-diamond
              %span.label
                Website
            %a.shortcut{href: manage_path}
              %span.icon
                %i.icon-home
              %span.label
                Home
            %a.shortcut{href: manage_sales_path}
              %span.icon
                %i.icon-tag
              %span.label
                Sales
    .page-region
      .page-region-content
        - if flash.present?
          - flash.each do |(key, value)|
            .tile.quatro
              .tile-content
                .notices
                  - bgcolor = (key == :error) ? 'red' : 'green'
                  - hgcolor = (key == :error) ? 'yellow' : 'black'
                  %div{class: "bg-color-#{bgcolor}"}
                    .notice-header{class: "fg-color-#{hgcolor}"}
                      An error has occurred
                    .notice-text
                      = raw(value)

        = yield
    = javascript_include_tag 'manage'
